<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce store</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7a68f3df4f.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header> 
        <div id="nav-bar">
            <a href="/">
              <div id="box">
                <div id="logo">
                    W
                </div>
              </div>
            </a>
            <a href="/"><i class="fa-solid fa-house"></i></a>
            {{#if session.logged_in}}
            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            {{/if}}
            {{#if session.logged_in}}
            <a id="login" href="/api/users/logout">Logout</a>
            {{else}}
            <a id="logout" href="/login">Login</a>
            {{/if}}
            
        </div>
    </header>
    <div class="time"> 
      <img src="/wall.png">
      <span id="nowtime"></span>
    </div>

       {{{body}}}
    
    
</body>
<script>
  async function setTime(){
    let response = await  fetch("http://localhost:3001/time", {
      method: "GET",
      headers: {"Content-Type": "application/json"}
    })
    let data = await response.json()
    let time= data.time    
    document.getElementById("nowtime").innerHTML = time;
    

  }

  setInterval(setTime, 1000)
  
  </script>

</html>