<div id="shop">
        <div class="card-container">
            {{#each products}}
            <div class="product-card">
                <div class="image-container">
                    <img class="product-image" id="placeholder-image" src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1699&q=80">
                </div>
                <h3 class="product-name">{{dataValues.product_name}}</h3>
                <h3 class="product-price">{{dataValues.price}}</h3>
                <button id="button" class="button button-grey" onclick="deletePost({{dataValues.id}})">Delete</button>         

            </div>
           {{/each}}
        </div>

        
    </div>

    <script>
         async function AddtoCart(product_id){
            console.log(product_id)
            let response = await fetch("http://localhost:3001/api/products/addtocart/"+product_id, {
                method: "GET",
                headers: {
                    "Content-Type" : "application/json"
                }
            })
            let data = await response.json()
            alert(data.message)


         }
 

    </script>