<div class="section paddingtop"> 
    <div class="container">
      <div class="panel">
        <div class="panelHeader"><h2>Create Account</h2></div>
        <div class="panelBody">

            <form id="form" class="form1">
            <input type="text" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">            
            <button class="button button-grey" type="submit">Register</button>
            </form>
            <a href="/login" class="link">Login</a>

        </div>
        
            

      </div>    
    </div>


</div>
<script> 
    async function register() {
        let username = document.getElementById("username").value
        let password = document.getElementById("password").value
        let response = await fetch("http://localhost:3001/api/users", {
            method: "POST",
            body: JSON.stringify({
                username: username,
                password: password
            }),headers: {
                "Content-Type": "application/json"
            }

        })

         let data = await response.json()
         alert(data.message)    
    }
let form = document.getElementById("form")
form.addEventListener("submit", function(){
    event.preventDefault()
    register();
})
</script>