@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    scroll-behavior: smooth;
}

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    box-shadow: 0px 0px 20px #7d6859;
    z-index: 2;
    background-color: #fff;
}
#nav-bar * {
    margin: 0 2rem;
    font-size: 3.3rem;
    text-decoration: none;    
    color: #7d6859;
}

#logo{
    font-size: 1.7rem;
}

#shop {
    margin: 0 15rem;
    align-content: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.product-card {
    height: auto;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: -1px -1px;
    border: 2px solid #c3bab0;
    background-color: #fff;
    z-index: 1;
}

.product-image {
    border-radius: .5rem;
    width: 10rem;
    height: 10rem;
    max-width: 100%;
    max-height: 100%;
    transition: all 300ms;
    object-fit: cover;
}

.product-image:hover {
    transform: scale(1.2);

    
}

.cart-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.cart-product-image {
    border-radius: .5rem;
    width: 8rem;
    height: 8rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0 5rem;
}

.cart-product-card {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    margin: -1px -1px;
    border: 2px solid #EADAd0;
    z-index: -999;
    background-color: #fff;
    justify-content: space-between;
}

.product-price {
    flex-grow: 2;
    justify-content: end;
}

#cart-header {
    margin: 3rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0 2rem;
}

#cart-header h1 {
    font-size: 2rem;
}

.section {

    margin-top:50px;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;    
    padding-top:14px;
    padding-bottom:14px;
    padding-left:28px;
    padding-right:28px;
    text-decoration: none;
    border: none;
    outline: none;



}

.button-brown {

    background-color:brown;
    color: white;
}

.button-grey {

    background-color:rgb(187, 183, 183);
    color: black;
}

.text-center {

    text-align:center;
}

.panel {
    border:4px solid brown;
    margin-bottom: 30px;


}

.panelHeader{
    background-color:brown;
    color:white;   
    padding:15px;
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;


}

.panelBody{
   
    padding:15px;


}

.form1 {
    display:block;
    width: 100%;

}

.form1 input,
.form1 textarea
{
display:block;
width: 100%;
border: 2px solid lightblue;
padding: 15px;
font-size: 16px;
font-family: inherit;
margin-bottom: 30px;



}

.form1 button {
    
    width: 100%;

}

.link {
    color:blue;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.container {

    width: min(1200px, 95%);    
    margin: auto;
}

.time img{
    width: 95px;

    
}

.time span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    z-index: 999;
}

.time {

    position: fixed;
    right: 100px;
    top: 5px;
    z-index: 999;
    
}

.fa-house {
    color:black
}

#landing-hero {
    height: 100vh;
    width: 100vw;

}

#landing-hero img {
    height: 100%;
    width: 100%;
    z-index: -2;
}

#landing-hero::after {
    content: "Hand-picked \A for the modern man";
    white-space: pre-wrap;
    color: #7d6859;
    position: relative;
    top: -20%;
    left: 10%;
    z-index: 1;
    font-size: 3rem;
}

.overlay {
position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, .4), rgb(255, 255, 255, 1) 99%);
  z-index: 0;
}

#shop-button {
    position: absolute;
    width: min-content;
    background-color: none;
    top: 7rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#landing-hero a {
    font-size: 2rem;
    font-weight:400;
    text-decoration: none;
    border-style: solid;
    border-width: .22rem;
    border-radius: .2rem;
    color: #7d6859;
}

#shop-button div {
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #7d6859;
    transform: rotate(180deg) translateY(1.5rem);
}